body {
    margin: 0;
}
.pointer {
    cursor: pointer;
}
.content {
    position: relative;
    background-color: #fff;
    color: #000;
    height: 100vh;
}
.black-text {
    color: #000;
}


/* btn arrow slider */
.nav button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #aaa;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: rgba(179, 176, 176, 0.5);
  }
  .nav .prev {
    left: 5px;
    display: none;
  }
  .nav .prev.show {
    display: block;
  }
  .nav .next {
    right: 5px;
  }
  .nav .next.hide {
    display: none;
  }