.content-text {
  margin: 1px auto;
  width: 950px;
  text-align: justify;
  line-height: 1.5;
  font-size: 24px;
  background-color: #fff;
}

.logo-hospital {
  padding: 5px 0 0 20px;
  width: 140px;
  height: 56px;
}
.footer-info {
  width: 370px;
  margin: 10px 0 0 40px;
}
.footer-info-right {
  width: 200px;
  margin: 10px 0 0 40px;
}
