.chanel-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}
.item-group {
  display: flex;
}
.chanel-item {
  text-decoration: none;
}
.chanel-item.item.active {
  border: 3px solid red;
}
.chanel-item.item:hover {
  border: 3px solid red;
}
.chanel-item.item {
  border: 3px solid white;
  text-decoration: none;
  margin: 8px 4px;
    border-radius: 4px;
}
.img-wrap {
  border: 2px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
